<h1>Actors</h1>

<%= render :partial => 'shared/last_name_filter', :locals => { :path => actors_path } %>

<% if @actors.any? %>

<table class="table table-condensed">
  <thead>
    <th>Id</th>
    <th>Name</th>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.id %></td>
        <td><%= link_to actor.full_name, customer_path(actor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @actors, :params => { :letter => params[:letter] } %>

<% else %>

<p>No records found.</p>

<% end %>
