<%= link_to "Home", root_path %>

<h1><%= @actor.full_name %></h1>

<% @actor.films.each do |film| %>
  <p><%= link_to film.to_s, film_path(film) %></p>
<% end %>

<%= link_to 'Back to actors', actors_path %>
