<table style="border-collapse:collapse">
  <tr>
    <% ('A'..'Z').each do |letter| %>
     <td style="text-align:center; padding: 5px; width:30px; border:1px solid"><%= link_to_unless params[:letter] == letter, letter, "#{path}?letter=#{letter}" %></td>
    <% end %>
  </tr>
</table>
<br>
