<ul class="nav nav-tabs">
  <% ('a'..'z').each do |letter| %>
    <li class=<%= "active" if params[:letter] == letter %>><%= link_to letter.upcase, url_for(params.merge(:letter => letter, :page => 1)), :style => "margin-right:0" %></li>
  <% end %>
</ul>
