<h1>Rentals</h1>

<table>
  <thead>
    <th>Rental date</th>
    <th>Title</th>
    <th>Customer name</th>
    <th>Return date</th>
  </thead>
  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= link_to rental.rental_date.to_formatted_s(:number), rental_path(rental) %></td>
        <td><%= rental.film %></td>
        <td><%= rental.customer_full_name %></td>
        <td><%= rental.return_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
