<h1>Films</h1>

<% @categorised_films.each do |category| %>
  <h2><%= category.name %></h2>
  <% category.films.each do |film| %>
    <%= link_to film.to_s, film_path(film) %>&emsp;
  <% end %>
<% end %>

<%= link_to 'Back', :back %>
